{% extends "library_app/base.html" %}
{% block title %}Test Fetch - Admin Panel{% endblock %}
{% block page_title %}Test Fetch{% endblock %}
{% block content %}
    <div x-data="{
             resultText: '',
             async fetchText() {
                 const response = await fetch('/api/test-fetch/');
                 const data = await response.json();
                 this.resultText = data.text;
             },
         }"
         style="width: 320px">
        <input type="text" x-model="resultText" class="form-control mb-3" readonly>
        <button class="btn btn-primary" @click="fetchText()">Fetch from API</button>
    </div>
{% endblock %}